APP_NAME=InnoPMS Starter API
APP_ENV=development
DEBUG=true
API_V1_STR=/api/v1
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DATABASE=innopms
DATABASE_URL=mysql+pymysql://root:secret@127.0.0.1:3306/innopms
